* {
	font-family: roboto, arial;
}

html {
	height: 100%;
}

body {
	margin: 0;
	width: 100%;
	min-height: 100%;
	background-image: linear-gradient(
			rgba(157, 146, 72, 0.6),
			rgba(38, 13, 13, 0.75)
		),
		url(assets/backgroundimg.jpg);
	background-position: center;
	background-size: cover;
	display: grid;
	align-items: center;
}

.weatherDisplay {
	display: none;
}

.weatherCard {
	background-color: rgba(84, 90, 61, 0.442);
	width: 35%;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-self: center;
	color: white;
	padding: 10px;
	border-radius: 30px;
	transform: translateY(-60px);
}

.searchContainer {
	width: 90%;
	max-width: 500px;
	align-self: center;
	color: #fff;
	margin: auto 0;
	display: flex;
}

.searchBar {
	width: 100%;
	max-width: 600px;
	background-color: rgba(2, 2, 2, 0.2) !important;
	display: flex;
	align-items: center;
	border-radius: 60px;
	padding-right: 10px;
	backdrop-filter: blur(4px) saturate(150%) !important;
}

.searchBar input {
	background: transparent;
	flex: 1;
	border: 0;
	outline: none;
	padding: 24px;
	font-size: 20px;
	color: #eaeaea;
	text-align: center;
}

::placeholder {
	color: white;
}

.searchBar button img {
	width: 35px;
	margin-left: 0.5%;
	margin-top: 15%;
}

.searchBar button {
	border: 0;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background: rgba(2, 2, 2, 0.2);
	cursor: pointer;
}

.weatherIcon {
	width: 115px;
	margin-top: 5%;
}

.weatherDisplay h1 {
	font-size: 35px;
	font-weight: 500;
	margin: 0;
	margin-top: 3px;
}

.weatherDisplay h2 {
	font-size: 18px;
	font-weight: 400;
	margin-top: 3px;
}

.weatherDetails {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;
}

.humidityCol img {
	width: 75px;
	transform: translateX(10px);
}

.humidityCol p {
	margin-top: 3px;
	margin-bottom: 0;
	transform: translateX(10px);
}

.windCol img {
	width: 75px;
	transform: translateX(-10px);
}

.windCol p {
	margin-top: 3px;
	margin-bottom: 0;
	transform: translateX(-10px);
}

@media screen and (max-width: 799px) {
	body {
		margin: 0;
		width: 100%;
		background-image: linear-gradient(
				rgba(157, 146, 72, 0.6),
				rgba(38, 13, 13, 0.75)
			),
			url(assets/MobileBackgroundImg.jpg);
		background-position: center;
		background-size: cover;
	}

	.weatherCard {
		width: 80%;
	}

	.searchContainer {
		width: 100%;
		padding: 0 10px;
	}

	.searchBar {
		max-width: 100%;
	}

	.searchBar button img {
		margin-top: 10%;
	}

	.weatherIcon {
		width: 90px;
		margin-top: 5%;
	}

	.weatherDisplay h1 {
		font-size: 28px;
	}

	.weatherDisplay h2 {
		font-size: 16px;
	}

	.humidityCol img,
	.windCol img {
		width: 60px;
	}

	.humidityCol p,
	.windCol p {
		margin-top: 0;
	}
}
